*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Background */
    --bg-primary: #F4F5FB;
    --bg-secondary: #FFFFFF;

    /* Cores */
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;
    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;

    --font-family: 'Inter', sans-serif;
    --title: 800 24px/32px var(--font-family);
    --label: 700 16px/20px var(--font-family);
    --parag: 500 16px/20px var(--font-family);
    --link: 500 14px/16px var(--font-family);

    --max-widht: 326px;
}

body {
    background-color: var(--bg-primary);
    margin-inline: auto;
    display: grid;
}

main {
    width: var(--max-widht);
    margin-inline: auto;
    /* deixa o conteudo no meio automaticamente da pagina */
    display: grid;
    /* deixa block, ou seja, um em baixo do outro */
    gap: 2.75rem;
    padding: 5rem 2rem;

    & #back {
        display: grid;
        gap: 1rem;

        & span {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: .25rem;
            color: var(--color-brand);
            font: var(--link);
            transition: filter 200ms ease;

            & img {
                rotate: 180deg;
            }

            &:hover {
                filter: brightness(85%);
            }
        }

        h1 {
            font: var(--title);
            color: var(--content-primary);
        }
    }
}

form {
    display: grid;
    gap: 1rem;

    & input {
        width: 100%;
        height: 2.75rem;
        padding-left: 1rem;
        border-radius: 12px;
        border: 2px solid var(--border-primary);
        background-color: var(--bg-secondary);
        transition: border 400ms ease;

        &::placeholder {
            color: var(--content-tertiary);
            font: 400 1rem/1.4 var(--f-f);
        }

        &:hover {
            border-color: var(--color-brand-hover);
        }

        &:focus {
            border: 2px solid var(--color-brand);
            outline: none;
        }
    }

    & button {
        cursor: pointer;
        width: 100%;
        height: 2.75rem;
        border: none;
        background: var(--color-brand);
        font: var(--parag);
        color: #FFFFFF;
        border-radius: .75rem;
        padding: 0.5rem;
        transition: background-color 400ms ease;

        &:hover {
            background-color: var(--color-brand-hover);
        }
    }
}

/* Classes utilitarias */
ul[role="list"] {
    list-style: none;
}

/* esconder alert */
.delet {
    display: none;
}

.mobile-not {
    display: none;
}

.show-exc {
    display: flex;
}

/* Classes para Js */
.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .75rem;
    width: 100%;
    height: 3rem;
    background-color: var(--bg-secondary);
    border-radius: .75rem;
    color: var(--content-secondary);
    font: var(--parag);

    & div {
        display: flex;
        align-items: center;
        gap: .75rem;

        & input {
            all: unset;
            width: 1rem;
            height: 1rem;
            background-color: var(--bg-secondary);
            border: 1px solid var(--border-primary);
            border-radius: .35rem;
            transition: border-color 300ms ease;

            &:hover {
                border-color: var(--border-hover);
            }

            &:checked {
                background: url(./assets/icons/state=selected.svg);
                background-size: 120%;
                background-position: 50%;
            }

        }

    }

    & button {
        cursor: pointer;
        border: none;
        background-color: transparent;
        transition: scale 400ms ease;

        &:hover {
            scale: 1.2;
        }
    }

    & img {
        width: 1rem;
        aspect-ratio: 1;

    }

}

.alert {
    display: flex;
    width: 100%;
    height: 2.75rem;
    background-color: var(--color-danger);
    border-radius: .75rem;
    justify-content: space-between;
    padding: .75rem;

    & div {
        font: var(--label);
        color: var(--bg-secondary);
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    & button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: scale 400ms ease;

        &:hover {
            scale: 1.2;
        }
    }

}

.error {
    margin-top: .25rem;
    margin-left: .5rem;
    display: flex;
    align-items: center;
    gap: .25rem;
    font: var(--link-sm);
    color: var(--danger);

    & img {
        width: 1rem;
        aspect-ratio: 1;
    }
}

.danger {
    border-color: var(--danger);
}

@media (width >= 720px) {
    :root {
        --max-width-pc: 1280px;
    }

    .mobile-not {
        display: initial;
    }


    header {
        max-width: max-content;
        margin-inline: auto;
        padding-top: 1.5rem;

        & img {
            object-fit: cover;
        }

    }

    main {
        width: 627px;
    }

    form {
        grid-template-columns: 3fr 1fr;
    }
}